In [1]:
from mpl_toolkits.mplot3d import Axes3D
from sklearn.preprocessing import StandardScaler
import matplotlib.pyplot as plt 
import numpy as np 
import os 
import pandas as pd

In [2]:
tweets= pd.read_csv("FIFA.csv", encoding= "ISO-8859-1" )
tweets.head()

,ID,lang,Date,Source,len,Orig_Tweet,Tweet,Likes,RTs,Hashtags,UserMentionNames,UserMentionID,Name,Place,Followers,Friends
0,1013597060640145408,en,2018-07-02 01:35:45,Twitter for Android,140,RT @Squawka: Only two goalkeepers have saved t...,Only two goalkeepers have saved three penaltie...,0,477,"WorldCup,POR,ENG",Squawka Football,Squawka,Cayleb,Accra,861,828
1,1013597056219295744,en,2018-07-02 01:35:44,Twitter for Android,139,RT @FCBarcelona: ?? @ivanrakitic scores the wi...,scores the winning penalty to send into the qu...,0,1031,WorldCup,"FC Barcelona,Ivan Rakitic,HNS | CFF","FCBarcelona,ivanrakitic,HNS_CFF",Febri Aditya,Bogor,667,686
2,1013597047482544130,en,2018-07-02 01:35:42,Twitter for Android,107,RT @javierfernandez: Tonight we have big game....,Tonight we have big game,0,488,worldcup,"Javier Fernandez,Evgeni Plushenko","javierfernandez,EvgeniPlushenko",??,NaN,65,67
3,1013597044198391808,en,2018-07-02 01:35:41,Twitter Web Client,142,We get stronger\r\nTurn the music up now\r\nWe...,We get stronger Turn the music up now We got t...,0,0,"PowerByEXO,WorldCup,FIFAStadiumDJ,XiuminLeague","EXO,FIFA World Cup ?","weareoneEXO,FIFAWorldCup",Frida Carrillo,"Zapopan, Jalisco",17,89
4,1013597039999926272,en,2018-07-02 01:35:40,Twitter for Android,140,RT @Squawka: Only two goalkeepers have saved t...,Only two goalkeepers have saved three penaltie...,0,477,"WorldCup,POR,ENG",Squawka Football,Squawka,tar,NaN,137,216

In [3]:
#rand_indexs = np.random.randint(1,len(tweets),50).tolist()
#tweets["Orig_Tweet"][rand_indexs]

In [4]:
import nltk
from nltk.tokenize import word_tokenize

nltk.download('punkt')
def most_used_words(text):
    tokens = word_tokenize(text)
    frequency_dist = nltk.FreqDist(tokens)
    print("There is %d different words" % len(set(tokens)))
    return sorted(frequency_dist,key=frequency_dist.__getitem__, reverse=True)

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\Lucas\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!

In [5]:
tweets.head(1)

,ID,lang,Date,Source,len,Orig_Tweet,Tweet,Likes,RTs,Hashtags,UserMentionNames,UserMentionID,Name,Place,Followers,Friends
0,1013597060640145408,en,2018-07-02 01:35:45,Twitter for Android,140,RT @Squawka: Only two goalkeepers have saved t...,Only two goalkeepers have saved three penaltie...,0,477,"WorldCup,POR,ENG",Squawka Football,Squawka,Cayleb,Accra,861,828

In [10]:
tweets.dtypes

ID                   int64
lang                object
Date                object
Source              object
len                  int64
Orig_Tweet          object
Tweet               object
Likes                int64
RTs                  int64
Hashtags            object
UserMentionNames    object
UserMentionID       object
Name                object
Place               object
Followers            int64
Friends              int64
dtype: object

In [14]:
df_clean = tweets[['Tweet','Hashtags','UserMentionNames','Place','UserMentionID','Name']].copy()

In [15]:
df_clean.head(1)

,Tweet,Hashtags,UserMentionNames,Place,UserMentionID,Name
0,Only two goalkeepers have saved three penaltie...,"WorldCup,POR,ENG",Squawka Football,Accra,Squawka,Cayleb

In [16]:
df_clean.dtypes

Tweet               object
Hashtags            object
UserMentionNames    object
Place               object
UserMentionID       object
Name                object
dtype: object

In [20]:
all_columns = list(df_clean)
df_clean[all_columns] = df_clean[all_columns].astype(str)

In [21]:
df_clean.dtypes

Tweet               object
Hashtags            object
UserMentionNames    object
Place               object
UserMentionID       object
Name                object
dtype: object

REMOVED STOP WORDS AND LISTED TOP WORDS

In [22]:
import string
df_clean = df_clean.Tweet.apply(lambda x: x.lower())
df_clean = df_clean.Tweet.apply(lambda x: x.translate(None, string.punctuation))
df_clean = df_clean.Tweet.apply(lambda x: x.translate(None, string.digits))

AttributeError: 'Series' object has no attribute 'Tweet'

In [6]:
from nltk.corpus import stopwords

nltk.download("stopwords")

mw = most_used_words(tweets.Tweet.str.cat())
most_words = []
for w in mw:
    if len(most_words) == 15:
        break
    if w in stopwords.words("english"):
        continue
    else:
        most_words.append(w)

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\Lucas\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
There is 260440 different words

In [7]:
sorted(most_words)

['African',
 'Congratulations',
 'Croatia',
 'Cup',
 'FIFA',
 'France',
 'Golden',
 'Russia',
 'World',
 'cut',
 'final',
 'racism',
 'team',
 'win',
 'winning']

In [ ]:
most_used_words(tweets.Tweet.str.cat())[:10]

In [27]:
most_used_words(tweets.Hashtags.str.cat())[:15]

There is 74138 different words

[',',
 'WorldCup',
 '?',
 'WorldCupWorldCup',
 'FRA',
 'FRACRO',
 'CRO',
 'WorldCupFRA',
 'ENG',
 'ARG',
 'BEL',
 'WorldCupFinal',
 'WorldCupWorldCupWorldCup',
 'FIFAStadiumDJ',
 'WorldCupCRO']

In [28]:
most_used_words(tweets.Place.str.cat())[:15]

There is 212042 different words

[',',
 '?',
 'South',
 'of',
 '-',
 'United',
 'the',
 '.',
 ':',
 ')',
 '/',
 '!',
 'York',
 '(',
 '|']

In [19]:
most_used_words(tweets.UserMentionNames.str.cat())[:55]

There is 148588 different words

['?',
 ',',
 'World',
 'Cup',
 'FIFA',
 '|',
 'of',
 'the',
 'Paul',
 'Football',
 'CupFIFA',
 'EXO',
 'United',
 'Modri',
 'Luka',
 'CFF',
 '.',
 'vs',
 '#',
 'League',
 'French',
 'Red',
 'HNS',
 'CupKhaled',
 'BeydounFIFA',
 'FC',
 'Harry',
 'SPORTS',
 'Sports',
 'Barcelona',
 '&',
 'BeydounKhaled',
 'de',
 'FootballFIFA',
 'WC',
 'Team',
 'Belgian',
 'SCHEDULE',
 'Kylian',
 'Ivan',
 'The',
 'Top',
 "N'Golo",
 'PogbaFIFA',
 'Madrid',
 'Manchester',
 'Equipe',
 'News',
 'DayFIFA',
 'Olivier',
 'Ravindra',
 '-',
 'Giroud',
 'Hotspur',
 'Sport']